body {
    background: linear-gradient(180deg, #2b7296 0%, #758991 100%); 
}
.registro {
  background: rgba(195, 231, 228, 0.48);
  width: 70%;
  height: 700px;
  display: block;
  margin: 50px 0px 0px 160px;
  text-align: justify;
  border-radius: 5px; 
}
.caja {
    text-align: center;
    padding: 30px;
}
